html
	head
		title Songs
		script(type="text/javascript", src="/static/jquery.js")
		script(type="text/javascript", src="/static/" + script + ".js")
	body
		h1 Songs
		ul(id="songs")
			li(class="song")
				span(class="title")
				span(class="title-sep")  by 
				span(class="artist")
				span(class="artist-sep")  on 
				span(class="album")
